.myfont (@color: #ffd300, @dx: 1, @dy: -1, @step: 10, @darken:.1) {
    @output: '';
    .ctwj_3dfont {
        background-color: #7abcff;
        color: #FFD300;
        @val : range(@step);
        @out : '';   
    }
}
.eac {
    .myfont();
}